.signup-card {
    padding: 50px;
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

body {
    background-image: url('../images/back2.jpg');
    background-size: cover;
}

.logo {
    width: 100%;
    height: auto;
    margin-top: 5%;
}
